@layer base {
  html {
    @apply bg-[#0f1216] text-white;
  }

  .btnHero {
    @apply flex bg-white text-gray-800 font-semibold py-2 px-4 border-2 border-gray-400 rounded z-20;
  }

  .btnHero:hover {
    @apply bg-red-800 text-white;
  }

  .btnProgression {
    @apply basis-1 border-4 border-white rounded-md text-4xl px-2 py-1 opacity-70;
  }

  .btnProgression:hover {
    @apply opacity-100;
  }

  .btnClose {
    @apply flex bg-red-500 px-7 py-2 mt-4 rounded-md text-white font-semibold;
  }

  .btnClose:hover {
    @apply bg-red-700;
  }

  .bgCase {
    @apply rounded-md border-4 border-white;
  }

  .recitative {
    @apply absolute top-24 left-10 p-2 bg-amber-600 rounded border-2 border-white z-10 opacity-60;
  }

  .btnCase {
    @apply bg-white text-gray-800 hover:bg-red-800 hover:text-white font-semibold py-1 px-2 border border-gray-400 rounded m-2 z-20;
  }

  .footerIcon {
    @apply h-8 object-contain cursor-pointer opacity-70 hover:opacity-100;
  }

  .Skyler {
    @apply text-red-500 text-xs;
  }

  .Rob {
    @apply text-purple-600 text-xs;
  }

  .Jessy {
    @apply text-green-600 text-xs;
  }

  .Cook {
    @apply text-blue-500 text-xs;
  }

  .bar-of-progress:after {
    @apply content-[""] block fixed top-0 left-0 h-1 bg-red-800 w-2/12;
  }

  .st0 {
    fill: #e2761b;
    stroke: #e2761b;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st1 {
    fill: #e4761b;
    stroke: #e4761b;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st2 {
    fill: #d7c1b3;
    stroke: #d7c1b3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st3 {
    fill: #233447;
    stroke: #233447;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st4 {
    fill: #cd6116;
    stroke: #cd6116;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st5 {
    fill: #e4751f;
    stroke: #e4751f;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st6 {
    fill: #f6851b;
    stroke: #f6851b;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st7 {
    fill: #c0ad9e;
    stroke: #c0ad9e;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st8 {
    fill: #161616;
    stroke: #161616;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st9 {
    fill: #763d16;
    stroke: #763d16;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
